<div style="width: 100% !important;">
    <nav class="navbar navbar-light bg-light">
        <button class="menuButton" (click)="display = true" pButton><i class="pi pi-bars"></i></button>
        <a class="navbar-brand" routerLink="/">DS Project</a>
        <button type="button" class="btn btn-raised btn-primary" routerLink="/login" (click)="logout()">Logout</button>
    </nav>
    <p-sidebar 
        [(visible)]="display" 
        position="left" 
        [style]="{width:'25em'}"
        [showCloseIcon]="false">
    
        <div class="menu">
            <h3 class="text-center">DS Project</h3>
            <div class="navigation">
                <div class="row"><a (click)="display = false" routerLink="/">Home</a></div>
                <hr>
                <div class="row"><a (click)="display = false" routerLink="/employees">Employees</a></div>
                <hr>
                <div class="row"><a (click)="display = false" routerLink="/contracts">Contracts</a></div>
                <hr>
                <div class="row"><a (click)="display = false" routerLink="/competitors">Competitors</a></div>
                <hr>
                <div class="row"><a (click)="display = false" routerLink="/services">Services</a></div>
                <hr>
                <div class="row"><a (click)="display = false" routerLink="/customers">Customers</a></div>
                <hr>
                <div class="row"><a (click)="display = false" routerLink="/bills">Bills</a></div>
                <hr>
                <div class="row"><a (click)="display = false" routerLink="/deliveries">Deliveries</a></div>
                <hr>
                <div class="row"><a (click)="display = false" routerLink="/reports">Reports</a></div>
            </div>
        </div>
    </p-sidebar>
</div>
 