<mat-card class="newCompetitor">
    <form #competitorForm="ngForm">
        <mat-form-field class="competitorInputs">
            <mat-label>Company</mat-label>
            <input matInput type="text" [(ngModel)]="company" name="company" required>
        </mat-form-field> -
        <mat-form-field class="competitorInputs">
            <mat-label>Service</mat-label>
            <input matInput type="text" [(ngModel)]="service" name="service" required>
        </mat-form-field>
        <br>
        <mat-form-field class="competitorInputs">
            <mat-label>Price</mat-label>
            <input matInput type="number" [(ngModel)]="price" name="price" required>
        </mat-form-field>
        <br>
        <mat-form-field class="competitorInputs">
            <mat-label>Start Date</mat-label>
            <input matInput [(ngModel)]="startDate" name="startDate" [matDatepicker]="startPicker" required>
            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field> - 
        <mat-form-field class="competitorInputs">
            <mat-label>End Date</mat-label>
            <input matInput [(ngModel)]="endDate" name="endDate" [matDatepicker]="endPicker" required>
            <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>
        <div class="actions">
            <button mat-raised-button color="primary" style="margin-top: 5px;" (click)="performAction(competitorForm.value)">{{ action }}</button>
        </div>
    </form>
</mat-card>