<app-header></app-header>
<div class="container">
    <div class="deliveriesAccordion">
        <div class="mt-4">
            <h4 style="display: inline;" class="mt-4 mb-4">Deliveries</h4>
        </div>
        <br>
        <mat-accordion>
            <ng-container *ngFor="let delivery of deliveries">
                <mat-expansion-panel (opened)="openAccordion(delivery)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Delivery ID: {{ delivery.id }}</mat-panel-title>
                        <mat-panel-description>
                            <span class="ml-5">Customer: {{ delivery.name }}</span>
                            <span class="ml-5">Destination: {{ delivery.destination }}</span>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <hr class="pt-0 mt-0">
                    <h5 style="display: inline;">Contents</h5>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10 mt-3 mb-3">
                            <p-carousel [value]="deliveryContents" [numVisible]="3" [autoplayInterval]="3000" [circular]="true" *ngIf="deliveryContents && deliveryContents.length > 0">
                                <ng-template let-content pTemplate="item">
                                    <mat-card class="carouselContents mt-3 mb-3 ml-2">
                                        <h4>{{ content.name }}</h4>
                                    </mat-card>
                                </ng-template>
                            </p-carousel>
                        </div>
                        <div class="col-1"></div>
                    </div>
                </mat-expansion-panel>
            </ng-container>
        </mat-accordion>
    </div>
</div>